@charset "UTF-8"; 
.extra_img_body {line-height:32px}
.extra_img_body li {list-style:none; border:1px solid #e0e0e0; overflow:hidden; margin:10px 0; padding:0}

.extra_img_body .lb {position:relative; background:#f7f7f7; width:100px; float:left; text-align:center}
.extra_img_body .lb:before  {content:""; position:absolute; height:100vh; background:#f7f7f7; width:100%; left:-1px; z-index:-1; top:0; border-left:1px solid #e0e0e0}
.extra_img_body .txt {float:left; padding-left:5px; text-overflow:ellipsis; width:calc(100% - 110px); white-space:nowrap; overflow:hidden; border-left:1px solid #e0e0e0; height:32px}
.extra_img_body .txt b {color:#586EF9}

.extra_img_body .txt.imgbox .img_org { margin:0 auto; }
.extra_img_body .txt.imgbox .img_org img {display:none; margin:0 auto; max-width:450px; max-height:250px}
.extra_img_body .txt.imgbox .img_org img:first-child {display:block}

.extra_img_body .txt.imgbox ul,.extra_img_body .txt.imgbox li {border:0; margin-top:30px; text-align:center}
.extra_img_body .txt.imgbox li {display:inline;}
.extra_img_body .txt.imgbox li img {width:100px; height:100px; border:1px solid #ddd; padding:2px}
.extra_img_body .txt.imgbox .img_lst li:hover {cursor:pointer}
.extra_img_body .txt.contentbox,.extra_img_body .txt.imgbox {white-space:inherit; overflow:inherit; height:inherit; padding:10px; box-sizing:border-box}

.extra_img_body .txt.contentbox *,.extra_img_body .txt.imgbox * {font-size:14px; line-height:1.8}
.extra_img_body .address {font-size:11px !important}
.extra_img_body .content {padding:15px}
.extra_img_footer {border-top:1px solid #000; margin-top:0; padding:10px}
.extra_img_body:after,.extra_img_footer:after {content:""; display:table; width:100%}

@media screen and (max-width: 768px) {
.extra_img_body .lb {display:none}
.extra_img_body .txt {width:100%}
.extra_img_body .content {padding:10px}
.btn {min-width:36px}
}

#container {overflow:hidden;height:300px;position:relative;}
#mapWrapper {width:100%;height:300px;z-index:1;}
#rvWrapper {width:50%;height:300px;top:0;right:0;position:absolute;z-index:0;}
#container.view_roadview #mapWrapper {width: 50%;}
#roadviewControl {position:absolute;top:5px;left:5px;width:42px;height:42px;z-index: 1;cursor: pointer; background: url(https://t1.daumcdn.net/localimg/localimages/07/2018/pc/common/img_search.png) 0 -450px no-repeat;}
#roadviewControl.active {background-position:0 -350px;}
#close {position: absolute;padding: 4px;top: 5px;left: 5px;cursor: pointer;background: #fff;border-radius: 4px;border: 1px solid #c8c8c8;box-shadow: 0px 1px #888;}
#close .img {display: block;background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/rv_close.png) no-repeat;width: 14px;height: 14px;}

.extra_img_body .wrap {position: absolute;left: 0;bottom:-40px;width: 285px;height: 115px;margin-left: -123px;text-align: left;overflow: hidden;font-size: 12px;line-height: 1.5;}
.extra_img_body .wrap * {padding: 0;margin: 0;}
.extra_img_body .wrap .info {width: 285px;height: 105px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.extra_img_body .wrap .info:nth-child(1) {border: 0;box-shadow: 0px 1px 2px #888;}
.extra_img_body .info .title {padding: 0px 0 0 10px;height: 25px;background: #eee;border-bottom: 1px solid #ddd;font-size: 16px;font-weight: bold;}
.extra_img_body .info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.extra_img_body .info .close:hover {cursor: pointer;}
.extra_img_body .info .body {position: relative;overflow: hidden;}
.extra_img_body .info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.extra_img_body .desc .ellipsis {font-size: 12px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.extra_img_body .desc .jibun {font-size: 12px;color: #888;margin-top: -2px;}
.extra_img_body .info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.extra_img_body .info:after {content: '';position: absolute;margin-left: 45px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.extra_img_body .info .link {color: #5085BB;}